.projects {
  @apply max-w-5xl mx-auto px-6 pb-24 relative z-10;
}

.projects-title {
  @apply text-3xl font-bold mb-10 text-center;
}

.projects-grid {
  @apply grid md:grid-cols-2 gap-10;
}

.project-card {
  @apply bg-white dark:bg-neutral-900 border dark:border-neutral-800 rounded-xl overflow-hidden shadow hover:shadow-lg transition;
}

.project-image-wrapper {
  @apply overflow-hidden;
}

.project-image {
  @apply w-full h-48 object-cover group-hover:scale-105 transition duration-300;
}

.project-content {
  @apply p-5 flex flex-col gap-2;
}

.project-title {
  @apply text-xl font-semibold;
}

.project-description {
  @apply text-sm text-gray-600 dark:text-gray-400;
}

.project-links {
  @apply flex gap-4 mt-2;
}

.project-link {
  @apply text-blue-600 dark:text-red-500 hover:underline text-sm;
}

