.hero {
  @apply max-w-5xl mx-auto pt-40 pb-32 px-6 text-center relative z-10;
}

.hero-title {
  @apply text-4xl md:text-6xl font-extrabold tracking-tight;
}

.hero-title-accent {
  @apply text-blue-600 dark:text-red-500;
}

.hero-description {
  @apply mt-4 text-lg md:text-xl text-gray-600 dark:text-gray-300 max-w-2xl mx-auto;
}

