.app-container {
  @apply min-h-screen relative overflow-x-hidden;
  background-image: var(--bg-light);
  @apply bg-cover bg-center;
  background-attachment: fixed;
}

@media (max-width: 768px) {
  .app-container {
    background-attachment: scroll;
  }
}

.dark .app-container {
  background-image: var(--bg-dark);
}

.app-container::before {
  @apply absolute inset-0 bg-white/60 dark:bg-black/70 backdrop-blur-sm z-0;
  content: "";
  pointer-events: none;
}

.hero,
.contacts,
.footer {
  position: relative;
  z-index: 1;
}
