.contacts {
  @apply max-w-4xl mx-auto px-6 pb-32 text-center relative z-10;
}

.contacts-title {
  @apply text-3xl font-bold mb-6;
}

.contacts-subtitle {
  @apply text-gray-600 dark:text-gray-300 mb-6;
}

.contacts-list {
  @apply flex flex-col items-center gap-3 text-lg;
}

.contact-link {
  @apply hover:text-blue-600 dark:text-red-500 transition;
}

