.background {
  @apply pointer-events-none absolute inset-0 overflow-hidden z-0;
}

.background__glow {
  @apply absolute rounded-full blur-3xl;
}

.background__glow--primary {
  @apply -top-40 -left-40 w-96 h-96 bg-blue-500/20 dark:bg-blue-400/10;
}

.background__glow--secondary {
  @apply top-1/3 right-0 w-80 h-80 bg-purple-500/20 dark:bg-purple-400/10;
}

.background__glow--tertiary {
  @apply bottom-0 left-1/4 w-72 h-72 bg-pink-400/20 dark:bg-pink-300/10;
}
